<div class="card" style="width: 18rem; margin: 5px; padding: 2px;">
    <div class="card-body">
        <p class="card-text text-dark">{{text}}</p>
    </div>
    <div class="card-footer text-muted">
        {{date}}
    </div>
</div>